<!-- dwitter/templates/dwitter/dashboard.html -->

{% extends 'base.html' %}

{% block content %}
    <!-- Dashboard  -->
    <div class="column">
        {% for followed in user.profile.follows.all %}
            {% for dweet in followed.user.dweets.all %}
                <div class="box">
                    <h4 class="title is-5">@{{ dweet.user.username.lower }}</h4>
                    <p class="content">{{ dweet.text }}</p>
                    <span class="is-small has-text-grey-light">
                    ({{ dweet.created_at }})
                </span>
                </div>
            {% endfor %}
        {% endfor %}
    </div>


    <div class="column is-one-third">
        <!-- Navigate buttons -->

        <div class="block">
            <a href="{% url 'dwitter:profile_list' %} ">
                <button class="button is-dark is-outlined is-fullwidth">
                    All Profiles
                </button>
            </a>
        </div>

        <div class="block">
            <a href="{% url 'dwitter:profile' request.user.profile.id %} ">
                <button class="button is-info is-light is-outlined is-fullwidth">
                    My Profile
                </button>
            </a>
        </div>

        <!-- Dweet form -->
        <div class="block">
            <div class="block">
                <h2 class="title is-2">Add a Dweet</h2>
            </div>
            <div class="block">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button is-info is-fullwidth is-medium mt-5" type="submit">Dweet</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}